@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

body {
  background-color: #000000;
  color: 	#82A3A1;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
